<%- include('../../partials/header.ejs') %>
<%- include('../../partials/homenavbar.ejs') %>
<body>
   
     <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Bem Vindo</h1>
            <p class="lead">Blog Simples</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
          </div>
          <hr>
        
        <% result.article.rows.forEach(article =>{ %>
                 
       <hr>
        <div class="card">
            <div class="card-header">
                    <%= article.title  %>
                    
            </div>
            <div class="card-body">
                <a class="btn btn-success" href="/<%= article.slug  %>">Ler</a>
            </div>
        </div>
       
       
        <% })  %>
        <%if(result.next == true){%>
          <a href="/page/<%= result.page+1%>" style="float: right;">Next</a>
          <% } %>

          <%if(result.page > 1){%>
             <a href="/page/<%= result.page-1%>" style="float: left;">Prev</a>
          <% } %>
     </div>
</body>

<%- include('../../partials/footer.ejs') %>