<%- include('../../partials/header.ejs') %>
<body>
    <%- include('../../partials/navbar.ejs') %>
    
    
    <div class="container"> 
     <hr>
      <div class="card">
        <div class="card-header">
        <h2>Edição</h2>
        </div>
        <div class="card-body">
        <form action="/admin/categories/update/"
            method="post">
            <input type="hidden" name="id" value="<%= category.id%>">
            <input type="text" placeholder="digite a nova cartegoria"  class="form-control" name="title" value="<%= category.title%>">
            <hr>
            <button class="btn btn-success">Atualizar</button>
        </form>
       </div>
    </div>
  </div>
</body>

<%- include('../../partials/footer.ejs') %>