<%- include('../../partials/header.ejs') %>
<body>
    <%- include('../../partials/navbar.ejs') %>
    
    <div class="container">
        <br>
        
        <h3>Cartegorias</h3>
        <a href="/admin/categories/new" class="btn btn-success">Nova Cartegoria</a>
        <hr>
        <table class="table table-bordered">
            <thead><th>ID</th><th>Titulo</th> <th>Slug</th><th>Ações</th></thead>
           
            <tbody>
            <% categories.forEach(categories =>{ %> 
             <tr> <td><%= categories.id %></td> <td><%= categories.title %></td> <td><%= categories.slug %><td>
                <a class="btn btn-warning" href="/admin/categories/edit/<%= categories.id %>">Editar</a>
                <form action="/categories/delete" method="post" id="form">
                    <input type="hidden" name="id" value="<%= categories.id %>" style="display: inline;">
                    <button class="btn btn-danger">Deletar</button>
                </form>
               
               
            <%})%>   
            </tbody>
           
        </table>
    </div>
    <script>
        /*var form = document.querySelector('form')
        form.onsubmit = (e)=>{
             e.preventDefault()
             var f = prompt('Para Confimar Digite SIM')
             console.log(f)
        }*/
    </script>
</body>

<%- include('../../partials/footer.ejs') %>
    